
/*Laptop 1024px*/

@media only screen and (max-width: 1024px) {
	.header{
		display: none;
	}
	.top-header{
		display: none;
	}
	.header_mobile{
		display: block;
	}
	.main_menu_mobile{
		position: relative;
		background-color: #fff;
		height: 70px;
		display: flex;
		justify-content: space-between;
		padding: 0 130px;
	}
	.logo_main_menu_mobile{
		height: 38px;
		padding-top: 14px;
		object-fit: contain;
	}
	.nav_menu_mobile{
		position: relative;
		left: 18px;
		bottom: 7px;
		color: #1e1e1e;
		font-family: Oswald,sans-serif;
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
	}
	.icon_menu_lines{
		position: relative;
		top: 10px;
		left: 5px;
	}
	.dropdown_content_mobile{
		height: 260px;
		background-color: #fff;
		position: absolute;
		top: 70px;
		width: calc(100% - 260px);
		left: 0;
		padding: 0 130px;
		display: none;
	}

	a{
		text-decoration: none;
	}
	.dropdown_title_mobile{
		display: block;
		padding: 10px 10px 10px 0px;
		text-decoration: none;
		border-bottom: 1px solid #e1e1e1;
		font-family: Oswald,sans-serif;
		font-style: normal;
		font-size: 16px;
		font-weight: 600;
		line-height: 23px;
		text-transform: uppercase;

	}
	.dropdown_title_mobile a{
		color: #1e1e1e;

	}
	.dropdown_title_mobile:hover a{
		color: #59815b;
	}
	.dropdown_content_mobile li{
		list-style-type: none;

	}
	.dropdown_title_mobile img{
		height: 17px;
		position: absolute;
		right: 135px;
		padding-top: 3px;
	}

	.partners{
		max-width: 768px;
		flex-wrap: wrap;
	}
	.wrapper2_posts{
		flex-direction: column;
	}
	.photo_posts{
		height: auto;
		width: 100%;
		max-width: 768px;
	}
	.wrapper2__block{
		padding: 0;
		max-width: 768px;
		width: 100%;
	}
	.wrapper2__headline h2{
		font-size: 27px;
		padding-top: 10px;
	}
	.wrapper2__headline_text{
		font-size: 16px;
	}
	.wrapper2_second_posts{
		flex-direction: column;

	}
	.wrapper2__second_block{
		padding: 0;
		max-width: 768px;
		width: 100%;
	}

	.block4{
		flex-direction: column;
		max-width: 100%;
		height: 1120px;
	}
	.img__block4{
		width: 100%;
		padding: 80px 0 70px 170px;

		max-width: 700px;
	}
	.block4__headline{
		padding: 0;
	}
	.block4__headline__text{
		max-width: 768px;
		width: 100%;
		padding: 0;
		margin-top: 0;
	}
	.block4__text{
		max-width: 768px;
		width: 100%;
		padding: 10px 0 0 0;
		margin-top: 0;
	}
	.input_form {
		max-width: 135px;
	}
	.wrapper3{
		max-width: 798px;

	}
	.block5_slider_photo{
		height: 440px;
		width: auto;
	}

	.shop-container{
		flex-wrap: wrap;
		max-width: 768px;
	}
	.photo-space{
		max-width: 250px;
	}
	.shop-price{
		margin: 0;
	}
	.block7_single_slider{
		max-width: 768px;
		padding-top: 0;
	}
	.second_slider_inner_base{
		left: 0;
	}
	.second_slider_inner{
		max-height: 420px;
	}
	.second_slider_inner_base{
		width: 400px;
	}
	.block_8 img{
		object-fit: cover;
	}

	.block_9{
		max-width: 768px;
		flex-wrap: wrap;
		justify-content: space-around;
		
	}
	.block_9_item{
		padding : 30px 20px 20px 20px ;
	}
	.block_10{
		flex-direction: column;
		max-width: 768px;
	}
	.block_10_column1{
		width: 100%;
	}
	.block_10_img{
		height: 240px;
		object-fit: contain;

	}
	.block_10_item{
		margin: 0 10px 20px 10px;
		padding: 0;
	}
	.block_10_column2{
		width: 100%;
		padding-top: 45px;
	}
	.top_holder{
		flex-direction: column;
		max-width: 768px;

	}

	.italic_text_content{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.middle_holder{
		max-width: 798px;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.middle_holder_column{
		width: 50%;

		margin-top: 28px;
	}
	.photo_post {
		width: 115px;
		height: 115px;
	}
}


/*iPad 810px*/
@media only screen and (max-width: 810px) {
	.wrapper1{
		background: url(../img/background.jpg) 45% center / cover no-repeat transparent;
		height: 650px;
	}
	.headline{
		text-align: center;
	}
	.headline_text{
		text-align: center;

	}
	.italic_content{
		font-size: 21px;
	}
	.partners{
		max-width: 600px;
		padding-top: 70px;
		justify-content: start; 
	}
	.logo_partner{
		width: 33.3333%;
	}
	.photo_posts{
		height: auto;
		width: 100%;
		max-width: 600px;
	}
	.wrapper2{
		padding-bottom: 0px;
	}
	.wrapper2_headline{
		font-size: 50px;
	}
	.wrapper2_color{
		font-size: 50px;

	}
	.wrapper2__block{
		max-width: 600px;
	}
	.wrapper2__second_block{
		max-width: 600px;

	}
	.block4 {
		height: 1100px;
		padding-top: 15px;
	}
	.img__block4{
		max-width: 600px;
		padding-bottom: 15px;
	}
	.block4__headline__text{
		max-width: 520px;
	}
	.wrapper2_headline_text{
		margin-top: 30px;
	}
	.wrapper3{
		max-width: 630px;

	}
	.block5_slider_photo{
		height: 345px;
		width: auto;
	}
	.wrapper2__italic_content{
		padding-right: 10px;
	}
	.shop-container{
		max-width: 630px;
	}
	.shop-photo {
		width: 200px;
	}
	.block7_single_slider{
		max-width: 600px;
	}
	.second_slider_inner{
		max-height: 330px;
	}

	.second_slider_inner_base{
		width: 300px;
	}
	.second_slider__top_button{
		padding-top: 0;
	}
	.block_9{
		max-width: 630px;
	}
	.block_10{

		max-width: 620px;
	}
	.block5__pre_headline{
		padding-top: 0; 
	}
	.wrapper2__headline_icon {
		padding-right: 5px;
	}
	.wrapper2__headline{
		padding-right: 0;
	}		
	.block10__headline {
		font-size: 41px;
	}
	.top_holder{
		max-width: 630px;
	}
	.middle_holder{
		max-width: 630px;

	}
	.photo_post{
		width: 88px;
		height: 88px;
	}
}
/*Tablet 680px*/

@media only screen and (max-width: 680px) {
	.main_menu_mobile {
		padding: 0 40px;
	}
	.wrapper1{
		background: url(../img/background.jpg) 41% center / cover no-repeat transparent;
	}
	.top_content{
		padding-top: 60px;
		justify-content: start;
	}
	.headline{
		font-size: 40px;
	}
	.pre_headline{
		flex-direction: column;
		padding: 0 15px 10px 15px;
	}
	.italic_content{
		padding-top: 10px;
	}
	.partners{
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 35px;
	}
	.logo_partner{
		width: 100%;
	}
	.photo_posts{
		max-width: 450px;
	}
	.wrapper2__block{
		max-width: 450px;

	}
	.wrapper2__second_block{
		max-width: 450px;

	}
.block4{
	height: 950px;
}
	.img__block4{
		padding: 60px 0 15px 70px;
	}
	.block4__headline{
		font-size: 35px; 
	}
	.block4__headline_color {
		font-size: 35px; 

	}
	.block4__headline__text{
		max-width: 620px;
		
	}
	.input_block{
		flex-direction: column;
		align-items: flex-start;

	}
	.input_form{
		max-width: 580px;
		width: 100%;
		padding: 0 16px;
		margin-bottom: 20px;
	}
	.wrapper3{
		max-width: 450px;
	}
	.block5_slider_photo{
		width: 100%;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 35px;
	}

	.block5__pre_headline{
		padding-top: 30px;
	}

	.block6_headline_text{
		padding-top: 50px;
	}
	.shop-container{
		max-width: 420px;
	}
	.block7_single_slider{
		max-width: 420px;
	}
	.second_slider_inner_base{
		width: 200px;
		height: 100px;
	}
	.second_slider__headline_text,
	.second_slider__headline_text,
	.second_slider__italic_content,
	.second_slider__top_button {
		display: none;
	}
	.second_slider_inner_base .left_inner {
		left: -57px;
	}
	.second_slider__headline h2{
		position: relative;
		left: -15px;
	}

	.second_slider_inner {
		height: 230px;
	}
	.block_8 img {
		height: 300px;
	}
	.block_9{
		max-width: 4200px;
	}
	.block_10{
		max-width: 450px;
	}
	.block_10_item{
		width: 100%;
	}
	.block_10_img{
		height: 275px;
	}
	.block10__pre_headline{
		padding-top:20px;
	}

	.top_holder{
		max-width: 420px;
	}
	.middle_holder{
		max-width: 420px;
		flex-direction: column;
	}
	.middle_holder_column {
		width: 100%;
	}

	.simple_title{
		max-width: 100%;
	}
	.photo_post{
		box-sizing: border-box;
		width: 205px;
		height: 205px;
		padding: 5px 5px;
	}
	.bottom_holder{
		flex-direction: column;
		align-items: center;
	}
}

/*Phones 320px*/
@media only screen and (max-width: 320px) {
	.main_menu_mobile {
		padding: 0 40px;
	}
.wrapper1{
	height: 710px;
}
.headline_text{
	max-width: 290px;
}
.wrapper2_headline{
	font-size: 40px;
	line-height: 45px;

}
.wrapper2_color{
		font-size: 40px;
		    line-height: 45px;
}
.wrapper2_posts{
	margin-top: 15px;
}
.photo_posts{
	max-width: 280px;
	padding: 0 10px;
}

.wrapper2{
	padding-bottom: 0;
}
.wrapper2__block{
	max-width: 288px;
}
.wrapper2__top_button{
	margin-left: auto;
	margin-right: auto;
}

.wrapper2__second_block{
	max-width: 288px;
}
.block4{
	height: 1000px;
}
.img__block4{
	padding: 80px 0 0 30px;
	height: 200px;
}
.block4__headline__text{
	max-width: 280px;
	    padding: 35px 15px 0 15px;
}
.input_form{
	max-width: 240px;
	width: 100%;
}
.wrapper2_headline_text{
	margin-top: 0;
}
.wrapper3{
		max-width: 280px;
		padding-bottom: 5px;
	}
	.block5_slider_photo{
		width: 100%;
		height: 340px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 35px;
	}

.block6_headline_text {
padding-top: 0;
}
.block_10{
	max-width: 280px;

}
.block_10_img{
	height: 180px;
}
.block10__pre_headline{
	flex-direction: column;
}

.top_holder{
	max-width: 280px;
}
.middle_holder{
	max-width: 280px;
}
.photo_post{
	width: 138px;
	height: 138px;
	padding: 3px 3px;
}

.bottom_holder{
	max-width: 288px;
	padding: 15px;
}
.copyright{
	padding: 15px ;
}






}
