
*{
    margin: 0 0;
    padding: 0 0;
}


html, 
body{

}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
.header_mobile{
    display: none;
}
.wrapper1{

    background: url(../img/background.jpg) center center / cover no-repeat transparent;
    position: relative;

    width: 100%;

}

.bgd-bottom{
    position: absolute;
    bottom: -1px; 
    background: center center / cover no-repeat transparent;
    width: 100%;
}

.logo{
    width: 135px;
    height: 76px;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 20px 0;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    
    font-family: Oswald, sans-serif;
}


button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении */
    cursor: pointer;
    text-transform:uppercase;

}
.main_menu_button{
    border: none;
    cursor: pointer;
    
}
.item.dropdown button{
padding: 10px;
transition: all .6s;
background: none;
}
.item.dropdown:hover button{
    background: url(../img/bgd-bottom.png) no-repeat;
    background-size: cover;
    
    transition: 0.6s; 
    color: #59815B;
}

.item.dropdown:hover button:after{
    content: '';
    display: block;
    height: 80px;
    width: 180px;
    background-color: transparent;
    position: absolute;
    top: 34px;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 50;
}
.dropdown-child {
    position: absolute;
    display: none;
    background-color: #ffffff;
    min-width: 200px;
    margin-top: 37px;

}
.dropdown-child a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-family: Crimson Text;
    font-style: italic;
    font-size: 18px;
    line-height: 1.56em;
    font-weight: 400;
    color: #878787;
}
button:hover .dropdown-child{
    display: block;
}
.dropdown-child a:hover {
    text-decoration: underline;
    color: #698D6A;
}
.item.dropdown:hover .dropdown-child {
    display: block;

}
.dropdown_content_mobile{
    display: none;
}

.button_opacity:hover{
    opacity: 0.4;
    transition: 0.6s;
}
.top-header{
    font-family: Crimson Text;
    color: #FAFAF8;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    
}
.top-header__contacts{
   display: flex;
   align-items: center;
}
.top-header a{
    color: #FAFAF8;
    text-decoration: none;
    padding-right: 23px;
}
.contact__icons--email{
    height: 13px ;
    width: 13px;
    position: relative;
    bottom: 1px;
}
.contact__icons--call{
    height: 13px ;
    width: 12px;
    position: relative;
    bottom: 2px;
}
.contact__icons{
    padding-right: 13px;

}
.header_icons{
    height: 21px ;
    width: 21px;
    position: relative;
    top: 3px;
    
}

.header_items{
    text-decoration: none;
    color: #ffffff;

}
.social_icons{
    margin-right: 10px;
    max-width: 12px;

}
.top-header__socials-text{
    margin-right: 10px;
    font-family: Crimson Text;
    color: #FAFAF8;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;

}
.top_content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 200px 15px;
    height: 570px;
}
.headline{
    display: flex;
    width: auto;
    height: auto;
    max-width: 820px;
    text-decoration: none;
    color: #ffffff;
    font-family: Oswald;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 55px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;

}
.pre_headline{
    display: flex;
    flex-direction: row;

    max-width: 500px;
    padding: 20px 15px 15px 0;
}
.italic_content{
    font-family: Crimson Text;
    color: #FAFAF8;
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    padding-right: 30px;
}
.italic_author{

}
.headline_icon{
 height: 18px ;
 width: 18px;
 bottom: 3px;
 padding-right: 10px;

}

.headline_text{
    display: flex;
    font-family: Mulish;
    width: 600px;
    color: #ffffff;
    padding-top: 20px;
    font-size: 18px;
    padding: 0 15px;
    width: auto;
    height: auto;
    max-width: 590px;
    text-align: center;
}
.top_button{
    background-color: #59815B;
    color: #ffffff;
    font-family: Oswald;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 60px 15px 50px;
    margin-top: 40px;
    font-size: 17px;
}
.button_icon{
 height: 18px ;
 width: 18px;
 position: absolute;
 padding-top: 4px;
 padding-left: 5px;
}


.partners{


 display: flex;
 flex-direction: row;
 justify-content: space-between;
 max-width: 1200px;
 margin-right: auto;
 margin-left: auto;


}
.logo_partner{
    width: auto;
object-fit: contain;
    height: 95px;
}
.logo_partner:hover{
    opacity: 0.4;
    transition: 0.9s;
}

.wrapper2{
    background: url(../img/background2.jpg) center center / cover no-repeat transparent;
padding-bottom: 110px;
}
.wrapper2_inner{
   max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper2_headline_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   max-width: 1330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.wrapper2_italic_content{
    font-family: Crimson Text;
    color: #979F9E;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    padding-right: 30px;
    margin-bottom: 0px;
}
.wrapper2_headline{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    
}
.wrapper2_color{
   color: #59815B;
   font-family: Oswald;
   text-transform: uppercase;

   font-size: 55px;
   font-weight: 600;
   text-decoration: none;
   letter-spacing: 1px;

}

.photo_posts{

    height: 427px;
    width: 49%;
        object-fit: contain;
    box-sizing: border-box;
}

.wrapper2_posts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
}


/*смысл тот же, цвет другой*/
.wrapper2__block{
    display: flex;
    flex-direction: column;
    padding: 0 130px 0 74px;
    box-sizing: border-box;
    width: 51%;
}
.wrapper2__headline{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}
.wrapper2__headline h2{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.25;
    
}
.wrapper2__headline h2:hover{
   text-decoration: underline;
   transition: all 2s;
}
.wrapper2__pre_headline{
    padding-top: 30px;
}
.wrapper2__italic_content{
    font-family: Crimson Text;
    color: #9A9A9A;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    padding-right: 30px;
}
.wrapper2__headline_icon{
 height: 18px ;
 width: 18px;
 bottom: 3px;
 padding-right: 10px;

}
.wrapper2__content_group{
  display: flex;
}
.wrapper2__headline_text{
    display: flex;
    font-family: Mulish;
    z-index: 5;
    color: #9A9A9A;
    padding-top: 10px;
    font-size: 18px;
}
.wrapper2__top_button{

    color: #1E1E1E;
    font-family: Oswald;
    border: none;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
}
.wrapper2__button_icon{
 height: 18px ;
 width: 18px;
 padding-top: 4px;
 padding-left: 5px;
}



.wrapper2_second_posts{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    margin-top: 50px;
    box-sizing: border-box;
}
.wrapper2__second_block{
    display: flex;
    flex-direction: column;
    padding: 0 74px 0 130px;
    box-sizing: border-box;
    width: 51%;
}

.img__block4{
    position: relative;
    object-fit: contain;
    width: 40%;
  

    padding: 0px 30px 15px 60px;
}
.block4{
    background: url(../img/bgd-bottom2.jpg) center center / cover no-repeat transparent;
    z-index: 2;
    padding-top: 65px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
        padding: 65px 15px 15px 15px;

}



.block4__headline__text{
    display: flex;
    flex-direction: column;
    
    padding-top: 125px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
}
.block4__italic_content{
    font-family: Crimson Text;
    color: #878787;
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 3px;
    padding-left: 7px;
}

.block4__headline{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.1;
    padding: 0px 21% 0px 7px;
}

.block4__headline_color{

   color: #59815B;
   font-family: Oswald;
   text-transform: uppercase;
   font-size: 42px;
   font-weight: 600;
   text-decoration: none;

}
.block4__text{
    display: flex;
    font-family: Mulish;
    color: #9A9A9A;
    max-width: 500px;
    padding: 10px 15px 0px 7px;
    font-size: 18px;
}
.input_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
width: 100%;

}
.input_form{

    outline: none;
    background-color: #FFFFFF;
    padding: 0px 16px;
    margin: 0px 13px 0 0;
    width: 33%;
    font-family: Crimson Text;
    font-size: 18px;
    font-style: italic;
    color: #1e1e1e;
    border: 1px solid #e1e1e1;
    cursor: text;
    transition: border-color .2s ease-in-out;
    height: 52px;
    box-sizing: border-box;
}

.input_form_button{
    height: 52px;
    display: inline-block;
    background-color: #59815B;
    color: #ffffff;
    font-family: Oswald;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 60px 15px 50px;
    text-transform: uppercase;
    font-size: 17px;
}

.button_icon{
    display: inline-block;

    height: 18px ;
    width: 18px;
    position: absolute;
    padding-top: 4px;
    padding-left: 5px;
}
.wrapper3{
    background: url(../img/background2.jpg) center center / cover no-repeat transparent;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 65px;
}
.block5__slider{
    padding: 0 15px;
}
.block5_slider_photo{
    width: 419px;
    height: 500px;
}
.block5__pre_headline {
    padding-top: 25px;
}
.block5_headline{
    padding-top: 10px;
}
.block5_to6{
   background: url(../img/block5-1.png) center center / cover no-repeat transparent;
   z-index: 2;
   padding-top: 65px;
}   
.block6{
 background-color: #F1F1E7;
}  
.block6_headline_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   max-width: 1330px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}


.shop-container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    max-width: 1330px;

}
.photo-space{
    display: flex;
    flex-direction: column;
}
.shop-photo{
    width: 100%;
    height: 217px;
        object-fit: contain;
}
.shop-price{
    font-family: Crimson Text;
    font-size: 21px;
    font-style: italic;
    color: #1e1e1e;
    text-align: center;
    margin: 10px;

}
.shop_name{
 font-family: Oswald;
 font-size: 22px;
 color: #1e1e1e;
 text-transform: uppercase;
 text-align: center;
}
.block6_to7{
   background: url(../img/block5-1.png) center center / cover no-repeat transparent;
   z-index: 2;
   position: relative;
   top: 1px;

   padding-top: 100px;
   transform: rotate(180deg);
}   
.block7_single_slider{
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
}
.second_slider_item img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.second_slider_inner_base{
    width: 500px;
    height: 250px;
    background: #FFFFFF;
    position: relative;
    vertical-align: middle;
    left: 260px;

}
.second_slider_inner_base .left_inner{
    position: absolute;
    height: 100%;
    width: 126px;
    left: -38px;
    object-position: cover;
}
.second_slider_inner_base .right_inner{
    position: absolute;
    height: 100%;
    width: 142px;
    right: -71px;
    
}
.second_slider_inner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 715px;

}
/*second-slider text inner*/
.second_slider__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    left: 20px;
    text-align: center;
}
.wrapper2__headline{
    display: flex;
    flex-direction: column;
}
.second_slider__headline h2{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.25;
    
}
.second_slider__italic_content{
    font-family: Crimson Text;
    color: #9A9A9A;
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
}

.wrapper2__content_group{
  display: flex;
}
.second_slider__headline_text{
    display: flex;
    font-family: Mulish;
    z-index: 5;
    color: #9A9A9A;
    padding-top: 10px;
    font-size: 18px;
    margin: 10px 0 18px;
}
.second_slider__top_button{

    color: #1E1E1E;
    font-family: Oswald;
    border: none;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.block_8 img{
    width: 100%;
    height: 650px;
        object-fit: cover;

}

.block_9{
 max-width: 1200px;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-right: auto;
 margin-left: auto;
 padding-top: 40px;
}
.block_9_item{
    margin: 0 30px;
    position: relative;
}

.block_9_img{
    position: relative;
    opacity: 0.25; 
    transition: 0.9s;
    width: 92px;
    height: 74px;
    z-index: 2;
}

.block_9_item:hover img{
    opacity: 1;
    transition: opacity 0.9s;
    
}
.rectangle{
    width: 0%;
    height: 40px;
    transform: rotate(-5deg);
    background-color: #F2F1EA;
    position: absolute;
    top: 20px;
    left: -25%;
    transition: 0.9s;
    z-index: 1;
}
.block_9_item:hover .rectangle{
    width: 150%;
    transition: 0.9s;
    
}
.block_9_title{
    font-family: Mulish;
    font-size: 16px;
    color: #878787;
    margin: 12px 0 5px;
    text-align: center;
}
.block_9_text{
    font-family: Oswald;
    font-size: 22px;
    color: #1e1e1e;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

/*block 10*/
.block_10{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 90px;
}
.block_10_item{
    padding: 0 1% 46px 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 46%;
    box-sizing: border-box;

}
.block_10_img{
    width: 100%;
}
.block_10_column1{
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

/* column2*/
.block_10_column2{
    width: 30%;
    box-sizing: border-box;
    padding: 0 15px;
}
.block10__headline__text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}
.block10__italic_content{
    font-family: Crimson Text;
    color: #878787;
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 3px;
    padding-left: 7px;
}

.block10__headline{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.1;
}
.block10__text{
    display: flex;
    font-family: Mulish;
    color: #9A9A9A;
    font-size: 18px;
    padding-top: 14px;
    line-height: 26px;

}
.social{
    margin-top: 15px;
}
.socials_text{
    margin-right: 10px;
    font-family: Crimson Text;
    color: #878787;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;

}
/*footer*/
.footer{
    width: 100%;
    background-color: #242625;

}
.top_holder{
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 90px 15px 21px 15px;
}
.logo-footer {
    height: 77px;
    width: 144px;
    padding-right: 150px;

}
.img_column{
    width: 25%; 
}
.italic_text_content{
    padding-top: 10px;
    font-family: Crimson;
    font-style: italic;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #b9b9b9;
    width: 75%; 

}

.italic_text_content--green{
    color: #59815b;
    display: inline;

}
.middle_holder{
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    padding: 21px 15px 90px 15px;
}
.middle_holder_column{
    width: 25%;
    padding: 0 8px;
    box-sizing: border-box;
}
.bold_title{
 font-family: Oswald;
 font-size: 22px;
 color: #FFFFFF;
 text-transform: uppercase;
 font-weight: 700;
 margin-bottom: 15px;

}
.simple_title{
   color: #b9b9b9;
   line-height: 23px;
   max-width: 90%;
   font-weight: 600;
   font-family: Mulish;
   font-size: 16px;
}

.footer_input_block{
    display: flex;
    flex-direction: column;

}
.footer_input_form{

    outline: none;
    padding: 0px 16px;
    margin: 0px 13px 0 0;
    max-width: 222px;
    font-family: Crimson Text;
    font-size: 18px;
    font-style: italic;
    background: #242625;
    color: #FFFFFF;
    border: none;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    cursor: text;
    transition: border-color .2s ease-in-out;
    height: 52px;
    margin-bottom: 20px;
    font-weight: inherit;
}

.footer_input_form_button{
    height: 52px;
    display: inline-block;
    color: #ffffff;
    font-family: Oswald;
    border: none;
    margin-left: 0;
    margin-right: auto;
    text-decoration: none;
    
    text-transform: uppercase;
    font-size: 17px;
}

.button_icon{
    display: inline-block;

    height: 18px ;
    width: 18px;
    position: absolute;
    padding-top: 4px;
    padding-left: 5px;
}
.date_title{
    margin-bottom: 6px;
}
.date_title_italic{
    font-family: Crimson Text;
    color: #59815b;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    padding-right: 5px;
}
.date_title_icon{
 height: 18px ;
 width: 18px;
 bottom: 3px;
 padding-right: 3px;

}
.text_title{
    color: #b9b9b9;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

}
.photo_post{
    width: 95px;
    height: 95px;
    padding: 0 5px 0 5px;
    object-fit:cover;
}
.bottom_holder{
    background-color: #111;
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    padding: 15px 70px;
}
.footer_socials{
position: relative;
top: 5px;
}
.copyright{
    color: #999999;
    font-family: Mulish;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

